* {
	box-sizing: border-box;
}

#example-stand {
	display: flex;
	justify-content: space-evenly;
	border: solid 1px black;
}

.box {
	width: 100px;
	height: 100px;
	text-align: center;
	/* 텍스트가 한 줄일 떄 세로 정렬을 위해 줄높이를 수정하는 것도 가능하다 */
	/* 이 방법은 두줄일때 효과가 없다 */
	line-height: 90px;
}

.original {
	border: 1px dashed black;
}

.translate {
	background-color: red;
	color: white;
	transition: all 1s ease-in;
}

.translate:hover {
	/* x축으로 이동, y축으로 이동 */
	transform: translate(50px, -50px);
}

.scale {
	background-color: green;
	color: white;
	transition: all 1s ease-in;
}

.scale:hover {
	/* x축으로 크기증가, y축으로 크기증가 */
	transform: scale(1.2, 0.75);
	/* 모퉁이를 둥그렇게 만든다 */
	border-radius: 50px;
}

.skew {
	background-color: navy;
	color: white;
	transition: all 1s ease-in;
}

.skew:hover {
	/* x축으로 몇 도 기울일지, y축으로 몇 도 기울일지 */
	transform: skew(-20deg, 20deg);
}

.rotate {
	background-color: orange;
	color: white;
	transition: all 2s ease-in;
}

.rotate:hover {
	/* 몇 도 회전시킬지 설정, 속성은 중복적용이 가능하다. */
	transform: rotate(720deg) scale(3);
	border-radius: 50px;
}
