* {
	box-sizing: border-box;
}

.container {
	position: relative;
	border: 3px solid black;
	width: 500px;
	height: 400px;
	background-color: white;
}

.box {
	width: 100px;
	height: 100px;
	border: 3px solid black;
}

.red {
	background-color: red;
	color: white;
}

.gold {
	background-color: gold;
	color: black;
}

.green {
	background-color: green;
	color: white;
}

#abs-ex1 > :first-child {
	position: absolute;
	top: 10px;
	right: -50px;
	z-index: 3;
}

#abs-ex1 > :nth-child(2) {
	/* 부모요소 (container)에 포지션이 정해지지 않았다면 더 상위인 body로 올라감 */
	position: absolute;
	top: -20px;
	right: 0;
	z-index: -1;
}

#abs-ex1 > :nth-child(3) {
	position: absolute;
	top: 0;
	right: -25px;
	z-index: 2;
}

#rel-ex1 > :first-child {
	/* 원래 있어야할 위치로부터 이동된다. */
	position: relative;
	left: 200px;
}

#rel-ex1 > :nth-child(2) {
	position: relative;
	left: 250px;
}

#rel-ex1 > :nth-child(3) {
	position: relative;
	left: 300px;
}

#fixed {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 99;
	width: 100%;
	background-color: white;
}

#sticky {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 98;
	width: 100%;
	background-color: white;
}
